<div class="container">
    <div class="row card-column">
        <div class="col-4 card">
            <app-string-interpolation></app-string-interpolation>
        </div>
        <div class="col-4 card">
            <app-property-binding></app-property-binding>
        </div>
        <div class="col-4 card">
            <app-class-binding></app-class-binding>
        </div>
        <div class="col-4 card">
            <app-event-binding></app-event-binding>
        </div>
        <div class="col-4 card">
            <app-two-way-data-binding></app-two-way-data-binding>
        </div>
        <div class="col-4 card">
            <app-input-properties [text]="value"></app-input-properties>
        </div>
        <div class="col-4 card">
            <app-output-properties [count]="count" (change)="changeValue($event)"></app-output-properties>
            Valor do output property: {{ currentValue | json}}
        </div>
        <div class="col-4 card">
            <app-view-child></app-view-child>
            <input type="text" class="form-control" (blur)="setViewChild($event)" />
            <br>
        </div>
    </div>
</div>
&nbsp;&nbsp;
